<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="Alex Edwards">
		<meta name="copyright" content="Copyright Alex Edwards 2023">
		<title>Catching runtime errors &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="05.00-dynamic-html-templates.html">Dynamic HTML templates</a> &rsaquo; Catching runtime errors</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="05.03-caching-templates.html">Previous</a>
					&middot; <a href="00.01-contents.html">Contents</a> &middot;
					<a href="05.05-common-dynamic-data.html">Next</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">Chapter 5.4.</div>
			<h2 id="catching-runtime-errors">Catching runtime errors</h2>

<p>As soon as we begin adding dynamic behavior to our HTML templates there&rsquo;s a risk of encountering runtime errors.</p>
<p>HTML 템플릿에 동적 기능을 추가하기 시작하면 런타임 오류가 발생할 위험이 있습니다.</p>

<p>Let&rsquo;s add a deliberate error to the <code>view.tmpl</code> template and see what happens:</p>
<p><code>view.tmpl</code> 템플릿에 의도적인 오류를 추가하고 어떤 일이 발생하는지 봅시다.</p>

<figure class="code html">
<figcaption>File: ui/html/pages/view.tmpl</figcaption>
<pre>{{define &#34;title&#34;}}Snippet #{{.Snippet.ID}}{{end}}

{{define &#34;main&#34;}}
    {{with .Snippet}}
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;snippet&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;metadata&#39;</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">strong</span><span class="p"></span><span class="p">&gt;</span>{{.Title}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">strong</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span><span class="p"></span><span class="p">&gt;</span>#{{.ID}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">span</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
        {{len nil}} <span class="c">&lt;!--</span><span class="c"> Deliberate error(고의적인 에러) </span><span class="c">--&gt;</span>
        <span class="p">&lt;</span><span class="nt">pre</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">code</span><span class="p"></span><span class="p">&gt;</span>{{.Content}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">code</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">pre</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;metadata&#39;</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">time</span><span class="p"></span><span class="p">&gt;</span>Created: {{.Created}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">time</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">time</span><span class="p"></span><span class="p">&gt;</span>Expires: {{.Expires}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">time</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    {{end}}
{{end}}</pre>
</figure>

<p>In this markup above we&rsquo;ve added the line <code>{{len  nil}}</code>, which should generate an error at runtime because in Go the value <code>nil</code> does not have a length.</p>
<p>위의 마크업에서 <code>{{len  nil}}</code> 라인을 추가했습니다. 이는 런타임에 오류를 발생시킬 것입니다. 왜냐하면 Go에서 <code>nil</code> 값은 길이를 가지지 않기 때문입니다.</p>

<p>Try running the application now. You&rsquo;ll find that everything still compiles OK:</p>
<p>지금 애플리케이션을 실행해 보세요. 모든 것이 여전히 정상적으로 컴파일되는 것을 확인할 수 있을 것입니다.</p>

<figure class="code bash">
<pre>$ go run ./cmd/web
<samp>time=2023-09-06T14:27:17.778+02:00 level=INFO msg=&#34;starting server&#34; addr=:4000</samp></pre>
</figure>

<p>But if you use curl to make a request to <a href="http://localhost:4000/snippet/view?id=1"><code>http://localhost:4000/snippet/view?id=1</code></a> you&rsquo;ll get a response which looks a bit like this.</p>
<p>하지만 curl을 사용하여 <code>http://localhost:4000/snippet/view?id=1</code> 에 요청을 보내면 다음과 비슷한 응답을 받게 될 것입니다.</p>

<figure class="code bash">
<pre>$ curl -i &#34;http://localhost:4000/snippet/view?id=1&#34;
<samp>HTTP/1.1 200 OK
Date: Wed, 06 Sep 2023 12:27:51 GMT
Content-Length: 734
Content-Type: text/html; charset=utf-8


&lt;!doctype html&gt;
&lt;html lang=&#39;en&#39;&gt;
    &lt;head&gt;
        &lt;meta charset=&#39;utf-8&#39;&gt;
        &lt;title&gt;Snippet #1 - Snippetbox&lt;/title&gt;
        &lt;link rel=&#39;stylesheet&#39; href=&#39;/static/css/main.css&#39;&gt;
        &lt;link rel=&#39;shortcut icon&#39; href=&#39;/static/img/favicon.ico&#39; type=&#39;image/x-icon&#39;&gt;
        &lt;link rel=&#39;stylesheet&#39; href=&#39;https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700&#39;&gt;
    &lt;/head&gt;
    &lt;body&gt;
        &lt;header&gt;
            &lt;h1&gt;&lt;a href=&#39;/&#39;&gt;Snippetbox&lt;/a&gt;&lt;/h1&gt;
        &lt;/header&gt;
        
 &lt;nav&gt;
    &lt;a href=&#39;/&#39;&gt;Home&lt;/a&gt;
&lt;/nav&gt;

        &lt;main&gt;
            
    
    &lt;div class=&#39;snippet&#39;&gt;
        &lt;div class=&#39;metadata&#39;&gt;
            &lt;strong&gt;An old silent pond&lt;/strong&gt;
            &lt;span&gt;#1&lt;/span&gt;
        &lt;/div&gt;
        Internal Server Error</samp></pre>
</figure>

<p>This is pretty bad. Our application has thrown an error, but the user has wrongly been sent a <code>200 OK</code> response. And even worse, they&rsquo;ve received a half-complete HTML page.</p>
<p>이 상황은 꽤 심각합니다. 애플리케이션에서 오류가 발생했지만, 사용자에게는 잘못된 <code>200 OK</code> 응답이 전송되었습니다. 게다가, 사용자에게는 완성되지 않은 HTML 페이지가 전송되었습니다.</p>

<p>To fix this we need to make the template render a two-stage process. First, we should make a &lsquo;trial&rsquo; render by writing the template into a buffer. If this fails, we can respond to the user with an error message. But if it works, we can then write the contents of the buffer to our <code>http.ResponseWriter</code>.</p>
<p>이 문제를 해결하려면 템플릿 렌더링을 두 단계로 나눠야 합니다. 첫 번째로, 템플릿을 버퍼에 작성하여 '시험' 렌더링을 수행해야 합니다. 이 단계에서 실패하면 사용자에게 오류 메시지를 응답으로 전송할 수 있습니다. 반면, 이 단계가 성공하면 버퍼의 내용을 <code>http.ResponseWriter</code> 에 작성할 수 있습니다.</p>

<p>Let&rsquo;s update the <code>render()</code> helper to use this approach instead:</p>
<p>이 방법을 사용하도록 <code>render()</code> 헬퍼를 업데이트해 봅시다.</p>

<figure class="code go">
<figcaption>File: cmd/web/helpers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;bytes&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;fmt&#34;</span>
    <span class="s">&#34;net/http&#34;</span>
<span class="p">)</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">render</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">,</span> <span class="nx">status</span> <span class="kt">int</span><span class="p">,</span> <span class="nx">page</span> <span class="kt">string</span><span class="p">,</span> <span class="nx">data</span> <span class="nx">templateData</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">ts</span><span class="p">,</span> <span class="nx">ok</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">templateCache</span><span class="p">[</span><span class="nx">page</span><span class="p">]</span>
    <span class="k">if</span> <span class="p">!</span><span class="nx">ok</span> <span class="p">{</span>
        <span class="nx">err</span> <span class="o">:=</span> <span class="nx">fmt</span><span class="p">.</span><span class="nf">Errorf</span><span class="p">(</span><span class="s">&#34;the template %s does not exist&#34;</span><span class="p">,</span> <span class="nx">page</span><span class="p">)</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Initialize a new buffer.
</span><span class="c1"></span>    <span class="nx">buf</span> <span class="o">:=</span> <span class="nb">new</span><span class="p">(</span><span class="nx">bytes</span><span class="p">.</span><span class="nx">Buffer</span><span class="p">)</span>

    <span class="c1">// Write the template to the buffer, instead of straight to the
</span><span class="c1"></span>    <span class="c1">// http.ResponseWriter. If there&#39;s an error, call our serverError() helper
</span><span class="c1"></span>    <span class="c1">// and then return.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">ts</span><span class="p">.</span><span class="nf">ExecuteTemplate</span><span class="p">(</span><span class="nx">buf</span><span class="p">,</span> <span class="s">&#34;base&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// If the template is written to the buffer without any errors, we are safe
</span><span class="c1"></span>    <span class="c1">// to go ahead and write the HTTP status code to http.ResponseWriter.
</span><span class="c1"></span>    <span class="nx">w</span><span class="p">.</span><span class="nf">WriteHeader</span><span class="p">(</span><span class="nx">status</span><span class="p">)</span>

    <span class="c1">// Write the contents of the buffer to the http.ResponseWriter. Note: this
</span><span class="c1"></span>    <span class="c1">// is another time where we pass our http.ResponseWriter to a function that
</span><span class="c1"></span>    <span class="c1">// takes an io.Writer.
</span><span class="c1"></span>    <span class="nx">buf</span><span class="p">.</span><span class="nf">WriteTo</span><span class="p">(</span><span class="nx">w</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>Restart the application and try making the same request again. You should now get a proper error message and <code>500 Internal Server Error</code> response.</p>
<p>애플리케이션을 다시 시작하고 같은 요청을 다시 시도해 보세요. 이제는 적절한 오류 메시지와 <code>500 Internal Server Error</code> 응답을 받을 수 있을 것입니다.</p>

<figure class="code bash">
<pre>$ curl -i &#34;http://localhost:4000/snippet/view?id=1&#34;
<samp>HTTP/1.1 500 Internal Server Error
Content-Type: text/plain; charset=utf-8
X-Content-Type-Options: nosniff
Date: Wed, 06 Sep 2023 12:29:47 GMT
Content-Length: 22

Internal Server Error</samp></pre>
</figure>

<p>Great stuff. That&rsquo;s looking much better.</p>
<p>훌륭합니다. 이제 훨씬 나아 보입니다.</p>

<p>Before we move on to the next chapter, head back to the <code>view.tmpl</code> file and remove the deliberate error:</p>
<p>다음 장으로 넘어가기 전에 <code>view.tmpl</code> 파일로 돌아가서 의도적으로 추가한 오류를 제거하세요.</p>

<figure class="code html">
<figcaption>File: ui/html/pages/view.tmpl</figcaption>
<pre>{{define &#34;title&#34;}}Snippet #{{.Snippet.ID}}{{end}}

{{define &#34;main&#34;}}
    {{with .Snippet}}
    <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;snippet&#39;</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;metadata&#39;</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">strong</span><span class="p"></span><span class="p">&gt;</span>{{.Title}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">strong</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">span</span><span class="p"></span><span class="p">&gt;</span>#{{.ID}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">span</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">pre</span><span class="p"></span><span class="p">&gt;</span><span class="p">&lt;</span><span class="nt">code</span><span class="p"></span><span class="p">&gt;</span>{{.Content}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">code</span><span class="p">&gt;</span><span class="p">&lt;</span><span class="p">/</span><span class="nt">pre</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">div</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;metadata&#39;</span><span class="p"></span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">time</span><span class="p"></span><span class="p">&gt;</span>Created: {{.Created}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">time</span><span class="p">&gt;</span>
            <span class="p">&lt;</span><span class="nt">time</span><span class="p"></span><span class="p">&gt;</span>Expires: {{.Expires}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">time</span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    {{end}}
{{end}}</pre>
</figure>

		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="05.03-caching-templates.html">Previous</a>
				</div>
				<div>
					<a href="00.01-contents.html">Contents</a>
				</div>
				<div>
					<a href="05.05-common-dynamic-data.html">Next</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					
					case 37:
						window.location.href = "05.03-caching-templates.html";
						break;
						
					
					case 39:
						window.location.href = "05.05-common-dynamic-data.html";
						break;
						
				}
			};
		</script>
	</body>
</html>

