<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="author" content="Alex Edwards">
		<meta name="copyright" content="Copyright Alex Edwards 2023">
		<title>User signup and password encryption &mdash; Let's Go</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" type="text/css" href="assets/css/main.css">
	</head>
	<body>
		<header>
			<div class="wrapper">
				<div>
					
						
						<a href="00.00-front-matter.html">Let's Go</a> <span class="crumbs">&rsaquo; <a href="11.00-user-authentication-and-authorization.html">User authentication</a> &rsaquo; User signup and password encryption</span>
						
					
				</div>
				<div>
					&lsaquo; <a href="11.02-creating-a-users-model.html">Previous</a>
					&middot; <a href="00.01-contents.html">Contents</a> &middot;
					<a href="11.04-user-login.html">Next</a> &rsaquo;
				</div>
			</div>
		</header>
		<main class="wrapper text">
			<div class="chapter">Chapter 11.3.</div>
			<h2 id="user-signup-and-password-encryption">User signup and password encryption</h2>
			<h3>사용자 가입 및 비밀번호 암호화</h3>

<p>Before we can log in any users to our Snippetbox application, we need a way for them to sign up for an account. We&rsquo;ll cover how to do that in this chapter.</p>
<p>Snippetbox 애플리케이션에 사용자를 로그인하려면 계정에 가입할 수 있는 방법이 필요합니다. 이 장에서는 그 방법에 대해 다룰 것입니다.</p>

<p>Go ahead and create a new <code>ui/html/pages/signup.tmpl</code> file containing the following markup for the signup form.</p>
<p>새로운 <code>ui/html/pages/signup.tmpl</code> 파일을 만들어서 다음과 같은 마크업으로 가입 양식을 포함시켜주세요.</p>
<figure class="code bash">
<pre>$ touch ui/html/pages/signup.tmpl</pre>
</figure>

<figure class="code html">
<figcaption>File: ui/html/pages/signup.tmpl</figcaption>
<pre>{{define &#34;title&#34;}}Signup{{end}}

{{define &#34;main&#34;}}
<span class="p">&lt;</span><span class="nt">form</span> <span class="na">action</span><span class="o">=</span><span class="s">&#39;/user/signup&#39;</span> <span class="na">method</span><span class="o">=</span><span class="s">&#39;POST&#39;</span> <span class="na">novalidate</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Name:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.name}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;text&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;name&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.Form.Name}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Email:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.email}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;email&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;email&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;{{.Form.Email}}&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">label</span><span class="p"></span><span class="p">&gt;</span>Password:<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{with .Form.FieldErrors.password}}
            <span class="p">&lt;</span><span class="nt">label</span> <span class="na">class</span><span class="o">=</span><span class="s">&#39;error&#39;</span><span class="p"></span><span class="p">&gt;</span>{{.}}<span class="p">&lt;</span><span class="p">/</span><span class="nt">label</span><span class="p">&gt;</span>
        {{end}}
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;password&#39;</span> <span class="na">name</span><span class="o">=</span><span class="s">&#39;password&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="nt">div</span><span class="p"></span><span class="p">&gt;</span>
        <span class="p">&lt;</span><span class="nt">input</span> <span class="na">type</span><span class="o">=</span><span class="s">&#39;submit&#39;</span> <span class="na">value</span><span class="o">=</span><span class="s">&#39;Signup&#39;</span><span class="p"></span><span class="p">&gt;</span>
    <span class="p">&lt;</span><span class="p">/</span><span class="nt">div</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="p">/</span><span class="nt">form</span><span class="p">&gt;</span>
{{end}}</pre>
</figure>

<p>Hopefully this should feel familiar so far. For the signup form we&rsquo;re using exactly the <a href="08.04-displaying-errors-and-repopulating-fields.html">same form structure</a> that we used earlier in the book, with three fields: <code>name</code>, <code>email</code> and <code>password</code> (which use the relevant HTML5 input types).</p>
<p>지금까지는 익숙한 느낌일 것입니다. 가입 양식에서는 책에서 이전에 사용한 것과 완전히 동일한 양식 구조를 사용하고 있습니다. 세 개의 필드, 즉 <code>name</code>, <code>email</code>, <code>password</code>(해당 HTML5 입력 유형 사용)가 있습니다.</p>

<aside class="important"><p>
<strong>Important:</strong> Notice here that we&rsquo;re not re-displaying the password if the form fails validation. This is because we don&rsquo;t want there to be <a href="https://ux.stackexchange.com/questions/20418/when-form-submission-fails-password-field-gets-blanked-why-is-that-the-case">any risk</a> of the browser (or other intermediary) caching the plain-text password entered by the user.
</p>
<p>
<strong>중요:</strong> 여기서 주목해야 할 점은 양식이 유효성 검증에 실패한 경우에 비밀번호를 다시 표시하지 않습니다. 
이는 브라우저(또는 기타 중개자)가 사용자가 입력한 평문 비밀번호를 캐시할 위험이 없도록 하기 위함입니다.
</aside>

<p>Then let&rsquo;s update our <code>cmd/web/handlers.go</code> file to include a new <code>userSignupForm</code> struct (which will represent and hold the form data), and hook it up to the <code>userSignup</code> handler.</p>
<p>그런 다음 <code>cmd/web/handlers.go</code> 파일을 업데이트하여 새로운 <code>userSignupForm</code> 구조체(양식 데이터를 나타내고 보유할 것입니다)를 포함시키고, 이를 <code>userSignup</code> 핸들러에 연결해 보겠습니다.</p>

<p>Like so:</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="c1">// Create a new userSignupForm struct.
</span><span class="c1"></span><span class="kd">type</span> <span class="nx">userSignupForm</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">Name</span>                <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;name&#34;</span><span class="s">`</span>
    <span class="nx">Email</span>               <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;email&#34;</span><span class="s">`</span>
    <span class="nx">Password</span>            <span class="kt">string</span> <span class="s">`</span><span class="s">form:&#34;password&#34;</span><span class="s">`</span>
    <span class="nx">validator</span><span class="p">.</span><span class="nx">Validator</span> <span class="s">`</span><span class="s">form:&#34;-&#34;</span><span class="s">`</span>
<span class="p">}</span>

<span class="c1">// Update the handler so it displays the signup page.
</span><span class="c1"></span><span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignup</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
    <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">userSignupForm</span><span class="p">{</span><span class="p">}</span>
    <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusOK</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>If you run the application and visit <a href="https://localhost:4000/user/signup"><code>https://localhost:4000/user/signup</code></a>, you should now see a page which looks like this:</p>
<p>애플리케이션을 실행하고 <code>https://localhost:4000/user/signup</code> 을 방문하면 이제 다음과 같은 모양의 페이지가 표시됩니다.</p>

<figure class="img">
<img src="assets/img/11.03-01.png" alt="11.03-01.png" />
</figure>

<h3 id="validating-the-user-input">Validating the user input</h3>
<h3>사용자 입력 유효성 검사</h3>

<p>When this form is submitted the data will end up being posted to the <code>userSignupPost</code> handler that we made earlier.</p>
<p>이 양식이 제출되면 데이터는 이전에 만든 <code>userSignupPost</code> 핸들러로 전송됩니다.</p>

<p>The first task of this handler will be to validate the data to make sure that it is sane and sensible before we insert it into the database. Specifically, we want to do four things:</p>
<p>이 핸들러의 첫 번째 작업은 데이터를 유효성 검사하여 데이터를 데이터베이스에 삽입하기 전에 합리적이고 신중한지 확인하는 것입니다. 구체적으로 4 가지를 수행하려고 합니다.</p>

<ol>
<li>Check that the provided name, email address and password are not blank.
<p>제공된 이름, 이메일 주소 및 비밀번호가 공백이 아닌지 확인합니다.</p>
</li>
<li>Sanity check the format of the email address.
<p>이메일 주소의 형식을 검증합니다.</p>
</li>
<li>Ensure that the password is at least 8 characters long.
<p>비밀번호가 최소 8자 이상인지 확인합니다.</p>
</li>
<li>Make sure that the email address isn&rsquo;t already in use.
<p>이메일 주소가 이미 사용 중인지 확인합니다.</p>
</li>
</ol>

<p>We can cover the first three checks by heading back to our <code>internal/validator/validator.go</code> file and creating two helper new methods &mdash; <code>MinChars()</code> and <code>Matches()</code> &mdash; along with a regular expression for sanity checking an email address.</p>
<p>첫 3 가지 확인 사항은 <code>internal/validator/validator.go</code> 파일로 돌아가서 <code>MinChars()</code> 와 <code>Matches()</code> 두 개의 도우미 새 메서드를 만들고 이메일 주소의 정상성을 확인하기 위한 정규 표현식과 함께 만들 수 있습니다.</p>

<p>Like this:</p>

<figure class="code go">
<figcaption>File: internal/validator/validator.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">validator</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;regexp&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;slices&#34;</span>
    <span class="s">&#34;strings&#34;</span>
    <span class="s">&#34;unicode/utf8&#34;</span>
<span class="p">)</span>

<span class="c1">// Use the regexp.MustCompile() function to parse a regular expression pattern
</span><span class="c1"></span><span class="c1">// for sanity checking the format of an email address. This returns a pointer to 
</span><span class="c1"></span><span class="c1">// a &#39;compiled&#39; regexp.Regexp type, or panics in the event of an error. Parsing 
</span><span class="c1"></span><span class="c1">// this pattern once at startup and storing the compiled *regexp.Regexp in a 
</span><span class="c1"></span><span class="c1">// variable is more performant than re-parsing the pattern each time we need it.
</span><span class="c1"></span><span class="kd">var</span> <span class="nx">EmailRX</span> <span class="p">=</span> <span class="nx">regexp</span><span class="p">.</span><span class="nf">MustCompile</span><span class="p">(</span><span class="s">&#34;^[a-zA-Z0-9.!#$%&amp;&#39;*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$&#34;</span><span class="p">)</span>

<span class="o">...</span>

<span class="c1">// MinChars() returns true if a value contains at least n characters.
</span><span class="c1"></span><span class="kd">func</span> <span class="nf">MinChars</span><span class="p">(</span><span class="nx">value</span> <span class="kt">string</span><span class="p">,</span> <span class="nx">n</span> <span class="kt">int</span><span class="p">)</span> <span class="kt">bool</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">utf8</span><span class="p">.</span><span class="nf">RuneCountInString</span><span class="p">(</span><span class="nx">value</span><span class="p">)</span> <span class="o">&gt;=</span> <span class="nx">n</span>
<span class="p">}</span>

<span class="c1">// Matches() returns true if a value matches a provided compiled regular 
</span><span class="c1"></span><span class="c1">// expression pattern.
</span><span class="c1"></span><span class="kd">func</span> <span class="nf">Matches</span><span class="p">(</span><span class="nx">value</span> <span class="kt">string</span><span class="p">,</span> <span class="nx">rx</span> <span class="o">*</span><span class="nx">regexp</span><span class="p">.</span><span class="nx">Regexp</span><span class="p">)</span> <span class="kt">bool</span> <span class="p">{</span>
    <span class="k">return</span> <span class="nx">rx</span><span class="p">.</span><span class="nf">MatchString</span><span class="p">(</span><span class="nx">value</span><span class="p">)</span>
<span class="p">}</span></pre>
</figure>

<p>There are a couple of things about the <code>EmailRX</code> regular expression pattern I want to quickly mention:</p>
<p><code>EmailRX</code> 정규 표현식 패턴에 대해 빠르게 언급하고 싶은 몇 가지 사항이 있습니다</p>

<ul>
<li><p>The pattern we&rsquo;re using is the one currently recommended by the W3C and Web Hypertext Application Technology Working Group for validating email addresses. For more information about this pattern, see <a href="https://html.spec.whatwg.org/multipage/input.html#valid-e-mail-address">here</a>. If you&rsquo;re reading this book in PDF format or on a narrow device, and can&rsquo;t see the entire line, then here it is broken up into multiple lines:</p>
<p>우리가 사용하는 패턴은 현재 W3C 및 Web Hypertext Application Technology Working Group에서 이메일 주소를 유효성 검사하는 데 권장하는 패턴입니다. 이 패턴에 대한 자세한 정보는 여기를 참조하세요. 만약 PDF 형식이나 좁은 기기에서 이 책을 읽고 전체 줄이 보이지 않는다면, 다음은 여러 줄로 나눠진 패턴입니다.</p>

<figure class="code plain">
<pre>&#34;^[a-zA-Z0-9.!#$%&amp;&#39;*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?
(?:\\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)*$&#34;</pre>
</figure>

<p>In your code, this regexp pattern should all be on a single line with no whitespace. If there&rsquo;s an alternative pattern that you prefer to use for email address sanity checking, then feel free to swap it in instead.</p>
<p>코드에서는 이 정규식 패턴이 공백 없이 단일 행에 있어야 합니다. 이메일 주소 정상성 검사에 대해 사용하고자 하는 대체 패턴이 있다면 얼마든지 교체하십시오.</p>
</li>

<li><p>Because the <code>EmailRX</code> regexp pattern is written as an interpreted string literal, we need to <em>double-escape</em> <a href="https://www.regular-expressions.info/characters.html">special characters</a> in the regexp with <code>\\</code> for it to work correctly (we can&rsquo;t use a raw string literal because the pattern contains a back quote character). If you&rsquo;re not familiar with the difference between string literal forms, then <a href="https://golang.org/ref/spec#String_literals">this section</a> of the Go spec is worth a read.</p>
<p><code>EmailRX</code> 정규식 패턴은 해석되는 문자열 리터럴로 작성되었기 때문에 regexp 내의 특수 문자를 올바르게 작동하려면 <code>\\</code>로 이스케이프해야 합니다 (패턴에 역따옴표 문자가 포함되어 있기 때문에 원시 문자열 리터럴을 사용할 수 없습니다). 문자열 리터럴 형식의 차이에 대해 잘 알지 못한다면 Go 사양의 <a href="https://golang.org/ref/spec#String_literals">이 섹션</a>을 읽는 것이 좋습니다.</p>

</li>
</ul>

<p>But anyway, I&rsquo;m digressing. Let&rsquo;s get back to the task at hand.</p>
<p>어쨌든, 주제에서 벗어났습니다. 지금은 작업에 집중합시다.</p>

<p>Head over to your <code>handlers.go</code> file and add some code to process the form and run the validation checks like so:</p>
<p><code>handlers.go</code> 파일로 이동하여 양식을 처리하고 다음과 같이 유효성 검사를 실행하는 코드를 추가하세요.</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignupPost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Declare an zero-valued instance of our userSignupForm struct.
</span><span class="c1"></span>    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">userSignupForm</span>

    <span class="c1">// Parse the form data into the userSignupForm struct.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Validate the form contents using our helper functions.
</span><span class="c1"></span>    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Name</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;name&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">Matches</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">validator</span><span class="p">.</span><span class="nx">EmailRX</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be a valid email address&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">MinChars</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">,</span> <span class="mi">8</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be at least 8 characters long&#34;</span><span class="p">)</span>

    <span class="c1">// If there are any errors, redisplay the signup form along with a 422
</span><span class="c1"></span>    <span class="c1">// status code.
</span><span class="c1"></span>    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Otherwise send the placeholder response (for now!).
</span><span class="c1"></span>    <span class="nx">fmt</span><span class="p">.</span><span class="nf">Fprintln</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="s">&#34;Create a new user...&#34;</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>Try running the application now and putting some invalid data into the signup form, like this:</p>
<p>이제 애플리케이션을 실행하고 다음과 같이 가입 양식에 잘못된 데이터를 입력해 보세요.</p>

<figure class="img">
<img src="assets/img/11.03-02.png" alt="11.03-02.png" />
</figure>

<p>And if you try to submit it, you should see the appropriate validation failures returned like so:</p>
<p>그리고 제출하려고 하면 다음과 같이 적절한 유효성 검사 실패가 반환됩니다</p>

<figure class="img">
<img src="assets/img/11.03-03.png" alt="11.03-03.png" />
</figure>

<p>All that remains now is the fourth validation check: <em>make sure that the email address isn&rsquo;t already in use</em>. This is a bit trickier to deal with.</p>
<p>이제 남은 것은 네 번째 유효성 검사입니다. 이메일 주소가 이미 사용 중이지 않은지 확인합니다. 이 부분은 다루기가 조금 까다로울 수 있습니다.</p>

<p>Because we&rsquo;ve got a <code>UNIQUE</code> constraint on the <code>email</code> field of our <code>users</code> table, it&rsquo;s already guaranteed that we won&rsquo;t end up with two users in our database who have the same email address. So from a business logic and data integrity point of view we are already OK. But the question remains about how we communicate any <em>email already in use</em> problem to a user. We&rsquo;ll tackle this at the end of the chapter.</p>
<p><code>users</code> 테이블의 <code>email</code> 필드에 이미 <code>UNIQUE</code> 제약 조건이 있기 때문에 이미 데이터베이스에 동일한 이메일 주소를 가진 두 사용자가 생기지 않도록 보장됩니다. 따라서 비즈니스 로직 및 데이터 무결성 관점에서 이미 문제가 없습니다. 그러나 사용자에게 이미 사용 중인 이메일 문제를 어떻게 전달할지에 대한 문제는 남아 있습니다. 이 문제는 이 장의 끝에서 다룰 것입니다.</p>



<h3 id="a-brief-introduction-to-bcrypt">A brief introduction to bcrypt</h3>

<p>If your database is ever compromised by an attacker, it&rsquo;s hugely important that it doesn&rsquo;t contain the plain-text versions of your users&rsquo; passwords.</p>
<p>만약 데이터베이스가 공격자에 의해 침해된다면, 사용자의 비밀번호의 평문 버전이 포함되어 있지 않도록 하는 것이 매우 중요합니다.</p>

<p>It&rsquo;s good practice &mdash; well, essential, really &mdash; to store a one-way hash of the password, derived with a computationally expensive key-derivation function such as Argon2, scrypt or bcrypt. Go has implementations of all 3 algorithms in the <a href="https://pkg.go.dev/golang.org/x/crypto"><code>golang.org/x/crypto</code></a> package.</p>
<p>비밀번호의 단방향 해시를 저장하는 것은 좋은 습관입니다. 사실상 필수입니다. 이 해시는 Argon2, scrypt 또는 bcrypt와 같은 계산 비용이 높은 키 파생 함수로 생성됩니다. Go 언어에는 <code>golang.org/x/crypto</code> 패키지에서 이 3가지 알고리즘의 구현이 포함되어 있습니다.</p>

<p>However a plus-point of the bcrypt implementation specifically is that it includes helper functions specifically designed for hashing and checking passwords, and that&rsquo;s what we&rsquo;ll use here.</p>
<p>그러나 특히 bcrypt 구현의 장점 중 하나는 비밀번호를 해싱하고 확인하기 위해 특별히 설계된 도우미 함수가 포함되어 있다는 것입니다. 이것을 여기에서 사용할 것입니다.</p>

<p>If you&rsquo;re following along, please go ahead and download the latest version of the <a href="https://godoc.org/golang.org/x/crypto/bcrypt"><code>golang.org/x/crypto/bcrypt</code></a> package:</p>
<p>따라오고 있다면, 최신 버전의 <code>golang.org/x/crypto/bcrypt</code> 패키지를 다운로드하세요.</p>

<figure class="code bash">
<pre>$ go get golang.org/x/crypto/bcrypt@latest
<samp>go: downloading golang.org/x/crypto v0.13.0
go get: added golang.org/x/crypto v0.13.0</samp></pre>
</figure>

<p>There are two functions that we&rsquo;ll use in this book. The first is the <a href="https://godoc.org/golang.org/x/crypto/bcrypt#GenerateFromPassword"><code>bcrypt.GenerateFromPassword()</code></a> function which lets us create a hash of a given plain-text password like so:</p>
<p>이 책에서 사용할 두 가지 함수가 있습니다. 첫 번째는 <code>bcrypt.GenerateFromPassword()</code> 함수로, 주어진 평문 비밀번호의 해시를 생성하는 데 사용됩니다.</p>

<figure class="code go">
<pre><span class="nx">hash</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">GenerateFromPassword</span><span class="p">(</span><span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="s">&#34;my plain text password&#34;</span><span class="p">)</span><span class="p">,</span> <span class="mi">12</span><span class="p">)</span></pre>
</figure>

<p>This function will return a 60-character long hash which looks a bit like this:</p>
<p>이 함수는 다음과 같이 보이는 60자 길이의 해시를 반환합니다.</p>

<figure class="code plain">
<pre>$2a$12$NuTjWXm3KKntReFwyBVHyuf/to.HEwTy.eS206TNfkGfr6HzGJSWG</pre>
</figure>

<p>The second parameter that we pass to <code>bcrypt.GenerateFromPassword()</code> indicates the <dfn>cost</dfn>, which is represented by an integer between 4 and 31. The example above uses a cost of 12, which means that that 4096 (2^12) bcrypt iterations will be used to generate the password hash.</p>
<p><code>bcrypt.GenerateFromPassword()</code>에 전달하는 두 번째 매개변수는 <dfn>비용(cost)</dfn>을 나타냅니다. 비용은 4에서 31까지의 정수로 표현됩니다. 위의 예제에서는 비용을 12로 설정하여 4096(2^12)번의 bcrypt 반복이 사용되어 비밀번호 해시를 생성합니다.</p>

<p>The higher the cost, the more expensive the hash will be for an attacker to crack (which is a good thing). But a higher cost also means that our application needs to do more work to create the password hash when a user signs up &mdash; and that means increased resource use by your application and additional latency for the end user. So choosing an appropriate cost value is a balancing act. A cost of 12 is a reasonable minimum, but if possible you should carry out load testing, and if you can set the cost higher without adversely affecting user experience then you should.</p>
<p>비용이 높을수록 해시가 크랙되기 어려워집니다(이는 좋은 점입니다). 그러나 높은 비용은 또한 사용자가 가입할 때 비밀번호 해시를 생성하기 위해 응용 프로그램이 더 많은 작업을 수행해야 한다는 것을 의미하며, 이는 응용 프로그램의 리소스 사용 증가와 최종 사용자에 대한 추가 지연을 의미합니다. 따라서 적절한 비용 값을 선택하는 것은 균형 잡기입니다. 12의 비용은 합리적인 최소값이지만 가능하면 부하 테스트를 수행하고 사용자 경험에 부정적인 영향을 미치지 않고 비용을 높일 수 있다면 높게 설정하는 것이 좋습니다.</p>

<p>On the flip side, we can check that a plain-text password matches a particular hash using the <a href="https://godoc.org/golang.org/x/crypto/bcrypt#CompareHashAndPassword"><code>bcrypt.CompareHashAndPassword()</code></a> function like so:</p>
<p>반면에, 우리는 <code>bcrypt.CompareHashAndPassword()</code> 함수를 사용하여 평문 비밀번호가 특정 해시와 일치하는지 확인할 수 있습니다.</p>

<figure class="code go">
<pre><span class="nx">hash</span> <span class="o">:=</span> <span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="s">&#34;$2a$12$NuTjWXm3KKntReFwyBVHyuf/to.HEwTy.eS206TNfkGfr6GzGJSWG&#34;</span><span class="p">)</span>
<span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">CompareHashAndPassword</span><span class="p">(</span><span class="nx">hash</span><span class="p">,</span> <span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="s">&#34;my plain text password&#34;</span><span class="p">)</span><span class="p">)</span></pre>
</figure>

<p>The <code>bcrypt.CompareHashAndPassword()</code> function will return <code>nil</code> if the plain-text password matches a particular hash, or an error if they don&rsquo;t match.</p>
<p><code>bcrypt.CompareHashAndPassword()</code> 함수는 평문 비밀번호가 특정 해시와 일치하면 <code>nil</code> 을 반환하고, 일치하지 않으면 오류를 반환합니다.</p>

<h3 id="storing-the-user-details">Storing the user details</h3>

<p>The next stage of our build is to update the <code>UserModel.Insert()</code> method so that it creates a new record in our <code>users</code> table containing the validated name, email and hashed password.</p>
<p>빌드의 다음 단계는 <code>UserModel.Insert()</code> 메서드를 업데이트하여 확인된 이름, 이메일 및 해시된 비밀번호가 포함된 새로운 레코드를 <code>users</code> 테이블에 생성하는 것입니다.</p>

<p>This will be interesting for two reasons: first we want to store the bcrypt hash of the password (not the password itself) and second, we also need to manage the potential error caused by a duplicate email violating the <code>UNIQUE</code> constraint that we added to the table.</p>
<p>이것은 두 가지 이유로 흥미로울 것입니다. 첫째, 비밀번호 자체가 아니라 <code>bcrypt</code> 해시를 저장하려고 하며, 둘째로, 테이블에 추가한 <code>UNIQUE</code> 제약 조건을 위반하는 중복된 이메일로 인한 잠재적인 오류도 관리해야 합니다.</p>

<p>All errors returned by MySQL have a particular code, which we can use to triage what has caused the error (a full list of the MySQL error codes and descriptions can be <a href="https://dev.mysql.com/doc/mysql-errors/8.0/en/">found here</a>). In the case of a duplicate email, the error code used will be <code>1062 (ER_DUP_ENTRY)</code>.</p>
<p>MySQL에서 반환하는 모든 오류는 특정 코드가 있으며, 이를 사용하여 오류의 원인을 판별할 수 있습니다 (MySQL 오류 코드 및 설명의 전체 목록은 <a href="https://dev.mysql.com/doc/mysql-errors/8.0/en/">여기</a>에서 확인할 수 있습니다). 중복된 이메일의 경우 사용되는 오류 코드는 <code>1062 (ER_DUP_ENTRY)</code>입니다.</p>


<p>Open the <code>internal/models/users.go</code> file and update it to include the following code:</p>
<p><code>internal/models/users.go</code> 파일을 열고 다음 코드를 포함하도록 업데이트하세요.</p>

<figure class="code go">
<figcaption>File: internal/models/users.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">models</span>

<span class="kn">import</span> <span class="p">(</span>
    <span class="s">&#34;database/sql&#34;</span>
    <span class="s">&#34;errors&#34;</span>  <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;strings&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;time&#34;</span>

    <span class="s">&#34;github.com/go-sql-driver/mysql&#34;</span> <span class="c1">// New import
</span><span class="c1"></span>    <span class="s">&#34;golang.org/x/crypto/bcrypt&#34;</span>     <span class="c1">// New import
</span><span class="c1"></span><span class="p">)</span>

<span class="o">...</span>

<span class="kd">type</span> <span class="nx">UserModel</span> <span class="kd">struct</span> <span class="p">{</span>
    <span class="nx">DB</span> <span class="o">*</span><span class="nx">sql</span><span class="p">.</span><span class="nx">DB</span>
<span class="p">}</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">m</span> <span class="o">*</span><span class="nx">UserModel</span><span class="p">)</span> <span class="nf">Insert</span><span class="p">(</span><span class="nx">name</span><span class="p">,</span> <span class="nx">email</span><span class="p">,</span> <span class="nx">password</span> <span class="kt">string</span><span class="p">)</span> <span class="kt">error</span> <span class="p">{</span>
    <span class="c1">// Create a bcrypt hash of the plain-text password.
</span><span class="c1"></span>    <span class="nx">hashedPassword</span><span class="p">,</span> <span class="nx">err</span> <span class="o">:=</span> <span class="nx">bcrypt</span><span class="p">.</span><span class="nf">GenerateFromPassword</span><span class="p">(</span><span class="p">[</span><span class="p">]</span><span class="nb">byte</span><span class="p">(</span><span class="nx">password</span><span class="p">)</span><span class="p">,</span> <span class="mi">12</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">return</span> <span class="nx">err</span>
    <span class="p">}</span>

    <span class="nx">stmt</span> <span class="o">:=</span> <span class="s">`</span><span class="s">INSERT INTO users (name, email, hashed_password, created)
</span><span class="s">    VALUES(?, ?, ?, UTC_TIMESTAMP())</span><span class="s">`</span>

    <span class="c1">// Use the Exec() method to insert the user details and hashed password
</span><span class="c1"></span>    <span class="c1">// into the users table.
</span><span class="c1"></span>    <span class="nx">_</span><span class="p">,</span> <span class="nx">err</span> <span class="p">=</span> <span class="nx">m</span><span class="p">.</span><span class="nx">DB</span><span class="p">.</span><span class="nf">Exec</span><span class="p">(</span><span class="nx">stmt</span><span class="p">,</span> <span class="nx">name</span><span class="p">,</span> <span class="nx">email</span><span class="p">,</span> <span class="nb">string</span><span class="p">(</span><span class="nx">hashedPassword</span><span class="p">)</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="c1">// If this returns an error, we use the errors.As() function to check
</span><span class="c1"></span>        <span class="c1">// whether the error has the type *mysql.MySQLError. If it does, the
</span><span class="c1"></span>        <span class="c1">// error will be assigned to the mySQLError variable. We can then check
</span><span class="c1"></span>        <span class="c1">// whether or not the error relates to our users_uc_email key by
</span><span class="c1"></span>        <span class="c1">// checking if the error code equals 1062 and the contents of the error 
</span><span class="c1"></span>        <span class="c1">// message string. If it does, we return an ErrDuplicateEmail error.
</span><span class="c1"></span>        <span class="kd">var</span> <span class="nx">mySQLError</span> <span class="o">*</span><span class="nx">mysql</span><span class="p">.</span><span class="nx">MySQLError</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">As</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">mySQLError</span><span class="p">)</span> <span class="p">{</span>
            <span class="k">if</span> <span class="nx">mySQLError</span><span class="p">.</span><span class="nx">Number</span> <span class="o">==</span> <span class="mi">1062</span> <span class="o">&amp;&amp;</span> <span class="nx">strings</span><span class="p">.</span><span class="nf">Contains</span><span class="p">(</span><span class="nx">mySQLError</span><span class="p">.</span><span class="nx">Message</span><span class="p">,</span> <span class="s">&#34;users_uc_email&#34;</span><span class="p">)</span> <span class="p">{</span>
                <span class="k">return</span> <span class="nx">ErrDuplicateEmail</span>
            <span class="p">}</span>
        <span class="p">}</span>
        <span class="k">return</span> <span class="nx">err</span>
    <span class="p">}</span>

    <span class="k">return</span> <span class="kc">nil</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>We can then finish this all off by updating the <code>userSignup</code> handler like so:</p>
<p>그런 다음 <code>userSignup</code> 핸들러를 다음과 같이 업데이트하여 작업을 마무리할 수 있습니다.</p>

<figure class="code go">
<figcaption>File: cmd/web/handlers.go</figcaption>
<pre><span class="kn">package</span> <span class="nx">main</span>

<span class="o">...</span>

<span class="kd">func</span> <span class="p">(</span><span class="nx">app</span> <span class="o">*</span><span class="nx">application</span><span class="p">)</span> <span class="nf">userSignupPost</span><span class="p">(</span><span class="nx">w</span> <span class="nx">http</span><span class="p">.</span><span class="nx">ResponseWriter</span><span class="p">,</span> <span class="nx">r</span> <span class="o">*</span><span class="nx">http</span><span class="p">.</span><span class="nx">Request</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">var</span> <span class="nx">form</span> <span class="nx">userSignupForm</span>

    <span class="nx">err</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">decodePostForm</span><span class="p">(</span><span class="nx">r</span><span class="p">,</span> <span class="o">&amp;</span><span class="nx">form</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">clientError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusBadRequest</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Name</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;name&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">Matches</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">validator</span><span class="p">.</span><span class="nx">EmailRX</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be a valid email address&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">NotBlank</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field cannot be blank&#34;</span><span class="p">)</span>
    <span class="nx">form</span><span class="p">.</span><span class="nf">CheckField</span><span class="p">(</span><span class="nx">validator</span><span class="p">.</span><span class="nf">MinChars</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">,</span> <span class="mi">8</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;password&#34;</span><span class="p">,</span> <span class="s">&#34;This field must be at least 8 characters long&#34;</span><span class="p">)</span>

    <span class="k">if</span> <span class="p">!</span><span class="nx">form</span><span class="p">.</span><span class="nf">Valid</span><span class="p">(</span><span class="p">)</span> <span class="p">{</span>
        <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
        <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
        <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Try to create a new user record in the database. If the email already
</span><span class="c1"></span>    <span class="c1">// exists then add an error message to the form and re-display it.
</span><span class="c1"></span>    <span class="nx">err</span> <span class="p">=</span> <span class="nx">app</span><span class="p">.</span><span class="nx">users</span><span class="p">.</span><span class="nf">Insert</span><span class="p">(</span><span class="nx">form</span><span class="p">.</span><span class="nx">Name</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Email</span><span class="p">,</span> <span class="nx">form</span><span class="p">.</span><span class="nx">Password</span><span class="p">)</span>
    <span class="k">if</span> <span class="nx">err</span> <span class="o">!=</span> <span class="kc">nil</span> <span class="p">{</span>
        <span class="k">if</span> <span class="nx">errors</span><span class="p">.</span><span class="nf">Is</span><span class="p">(</span><span class="nx">err</span><span class="p">,</span> <span class="nx">models</span><span class="p">.</span><span class="nx">ErrDuplicateEmail</span><span class="p">)</span> <span class="p">{</span>
            <span class="nx">form</span><span class="p">.</span><span class="nf">AddFieldError</span><span class="p">(</span><span class="s">&#34;email&#34;</span><span class="p">,</span> <span class="s">&#34;Email address is already in use&#34;</span><span class="p">)</span>

            <span class="nx">data</span> <span class="o">:=</span> <span class="nx">app</span><span class="p">.</span><span class="nf">newTemplateData</span><span class="p">(</span><span class="nx">r</span><span class="p">)</span>
            <span class="nx">data</span><span class="p">.</span><span class="nx">Form</span> <span class="p">=</span> <span class="nx">form</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">render</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusUnprocessableEntity</span><span class="p">,</span> <span class="s">&#34;signup.tmpl&#34;</span><span class="p">,</span> <span class="nx">data</span><span class="p">)</span>
        <span class="p">}</span> <span class="k">else</span> <span class="p">{</span>
            <span class="nx">app</span><span class="p">.</span><span class="nf">serverError</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="nx">err</span><span class="p">)</span>
        <span class="p">}</span>

        <span class="k">return</span>
    <span class="p">}</span>

    <span class="c1">// Otherwise add a confirmation flash message to the session confirming that
</span><span class="c1"></span>    <span class="c1">// their signup worked.
</span><span class="c1"></span>    <span class="nx">app</span><span class="p">.</span><span class="nx">sessionManager</span><span class="p">.</span><span class="nf">Put</span><span class="p">(</span><span class="nx">r</span><span class="p">.</span><span class="nf">Context</span><span class="p">(</span><span class="p">)</span><span class="p">,</span> <span class="s">&#34;flash&#34;</span><span class="p">,</span> <span class="s">&#34;Your signup was successful. Please log in.&#34;</span><span class="p">)</span>

    <span class="c1">// And redirect the user to the login page.
</span><span class="c1"></span>    <span class="nx">http</span><span class="p">.</span><span class="nf">Redirect</span><span class="p">(</span><span class="nx">w</span><span class="p">,</span> <span class="nx">r</span><span class="p">,</span> <span class="s">&#34;/user/login&#34;</span><span class="p">,</span> <span class="nx">http</span><span class="p">.</span><span class="nx">StatusSeeOther</span><span class="p">)</span>
<span class="p">}</span>

<span class="o">...</span></pre>
</figure>

<p>Save the files, restart the application and try signing up for an account. Make sure to remember the email address and password that you use&hellip; you&rsquo;ll need them in the next chapter!</p>
<p>파일을 저장하고 애플리케이션을 다시 시작하고 계정에 가입해 보세요. 사용한 이메일 주소와 비밀번호를 기억하는 것이 중요합니다. 다음 장에서 필요할 것입니다!</p>

<figure class="img">
<img src="assets/img/11.03-04.png" alt="11.03-04.png" />
</figure>

<p>If everything works correctly, you should find that your browser redirects you to <code>https://localhost:4000/user/login</code> after you submit the form.</p>
<p>모든 것이 올바르게 작동하면 양식을 제출한 후 브라우저가 <code>https://localhost:4000/user/login</code>으로 리디렉션된 것을 확인할 수 있습니다.</p>

<figure class="img">
<img src="assets/img/11.03-05.png" alt="11.03-05.png" />
</figure>

<p>At this point it&rsquo;s worth opening your MySQL database and looking at the contents of the <code>users</code> table. You should see a new record with the details you just used to sign up and a bcrypt hash of the password.</p>
<p>이 시점에서 MySQL 데이터베이스를 열어서 <code>users</code> 테이블의 내용을 살펴보는 것이 좋습니다. 가입에 사용한 세부 정보와 비밀번호의 bcrypt 해시가 있는 새로운 레코드를 확인할 수 있어야 합니다.</p>

<figure class="code bash">
<pre>mysql&gt; SELECT * FROM users;
<samp>+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
| id | name      | email           | hashed_password                                              | created             |
+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
|  1 | Bob Jones | bob@example.com | $2a$12$mNXQrOwVWp/TqAzCCyDoyegtpV40EXwrzVLnbFpHPpWdvnmIoZ.Q. | 2023-09-07 07:07:35 |
+----+-----------+-----------------+--------------------------------------------------------------+---------------------+
1 row in set (0.01 sec)</samp></pre>
</figure>

<p>If you like, try heading back to the signup form and adding another account with the same email address. You should get a validation failure like so:</p>
<p>원하면 가입 양식으로 돌아가서 동일한 이메일 주소로 다른 계정을 추가해 보세요. 이렇게 하면 다음과 같은 유효성 검사 실패 메시지가 표시될 것입니다.</p>

<figure class="img">
<img src="assets/img/11.03-06.png" alt="11.03-06.png" />
</figure>

<hr />

<h3 id="additional-information">Additional information</h3>

<h4 id="using-database-bcrypt-implementations">Using database bcrypt implementations</h4>

<p>Some databases provide built-in functions that you can use for password hashing and verification instead of implementing your own in Go, like we have in the code above.</p>
<p>일부 데이터베이스는 Go에서 구현한 것과 같이 자체 비밀번호 해싱 및 검증 함수 대신 사용할 수 있는 내장 함수를 제공할 수 있습니다.</p>

<p>But it&rsquo;s probably a good idea to avoid using these for two reasons:</p>
<p>그러나 이러한 함수를 사용하는 것을 피하는 것이 좋을 것으로 생각되는 두 가지 이유가 있습니다.</p>

<ul>
<li>They tend to be vulnerable to <a href="https://en.wikipedia.org/wiki/Timing_attack">side-channel timing attacks</a> due to string comparison time not being constant, at least in <a href="https://www.postgresql.org/docs/9.0/pgcrypto.html#AEN129954">PostgreSQL</a> and <a href="https://security.stackexchange.com/a/83675/210340">MySQL</a>.
<p>적어도 PostgreSQL과 MySQL에서는 문자열 비교 시간이 일정하지 않아서 <a href="https://en.wikipedia.org/wiki/Timing_attack">side-channel timing attacks</a> 에 취약할 수 있습니다.</p>
</li>
<li>Unless you&rsquo;re very careful, sending a plain-text password to your database risks the password being accidentally recorded in one of your database logs. A couple of high-profile examples of passwords being accidently recorded in logs were the <a href="https://www.bleepingcomputer.com/news/security/github-accidentally-recorded-some-plaintext-passwords-in-its-internal-logs/">GitHub</a> and <a href="https://www.bleepingcomputer.com/news/security/twitter-admits-recording-plaintext-passwords-in-internal-logs-just-like-github/">Twitter</a> incidents in 2018.
<p>매우 주의하지 않는 한 데이터베이스에 평문 비밀번호를 전송하면 비밀번호가 데이터베이스 로그 중 하나에 실수로 기록될 수 있습니다. 2018년에 발생한 GitHub 및 Twitter 사건과 같이 로그에 실수로 비밀번호가 기록된 고발 사례가 있었습니다.</p>
</li>
</ul>

<h4 id="alternatives-for-checking-email-duplicates">Alternatives for checking email duplicates</h4>

<p>I understand that the code in our <code>UserModel.Insert()</code> method isn&rsquo;t very pretty, and that checking the error returned by MySQL feels a bit flaky. What if future versions of MySQL change their error numbers? Or the format of their error messages?</p>
<p>우리의 <code>UserModel.Insert()</code> 메서드의 코드가 그다지 깔끔하지 않고, MySQL에서 반환한 오류를 확인하는 것이 좀 불안정한 느낌이 들 수 있습니다. 만약 미래의 MySQL 버전에서 오류 번호를 변경하거나 오류 메시지의 형식을 변경한다면 어떨까요?</p>

<p>An alternative (but also imperfect) option would be to add an <code>UserModel.EmailTaken()</code> method to our model which checks to see if a user with a specific email already exists. We could call this <em>before</em> we try to insert a new record, and add a validation error message to the form as appropriate.</p>
<p>대안적인 (하지만 또한 완벽하지 않은) 옵션은 <code>UserModel.EmailTaken()</code> 메서드를 추가하여 특정 이메일을 가진 사용자가 이미 존재하는지 확인하는 것입니다. 새 레코드를 삽입하기 전에 이를 호출하고 적절한 경우 양식에 유효성 검사 오류 메시지를 추가할 수 있습니다.</p>

<p>However, this would introduce a <dfn>race condition</dfn> to our application. If two users try to sign up with the same email address at <em>exactly</em> the same time, both submissions will pass the validation check but ultimately only one <code>INSERT</code> into the MySQL database will succeed. The other will violate our <code>UNIQUE</code> constraint and the user would end up receiving a <code>500 Internal Server Error</code> response.</p>
<p>그러나 이렇게 하면 응용 프로그램에 <dfn>경합 조건(race condition)</dfn>이 발생합니다. 두 사용자가 <em>정확히(exactly)</em>동시에 동일한 이메일 주소로 가입을 시도하면 두 제출 모두 유효성 검사를 통과하지만 최종적으로는 MySQL 데이터베이스에 대한 <code>INSERT</code>가 하나만 성공합니다. 다른 하나는 <code>UNIQUE</code> 제약 조건을 위반하고 사용자는 <code>500 Internal Server Error</code> 응답을 받게 됩니다.</p>

<p>The outcome of this particular race condition is fairly benign, and <a href="https://stackoverflow.com/questions/25702813/how-to-avoid-race-condition-with-unique-checks-in-django">some people</a> would advise you to simply not worry about it. But thinking critically about your application logic and writing code which avoids race conditions is a good habit to get into, and where there&rsquo;s a viable alternative &mdash; like there is in this case &mdash; it&rsquo;s better to avoid shipping with known race conditions in your codebase.</p>
<p>이 특정 경합 조건의 결과는 꽤 무해하며, 어떤 사람들은 그냥 걱정하지 않기를 권할 수 있습니다. 그러나 응용 프로그램 로직에 대해 비판적으로 생각하고 경합 조건을 피하는 코드를 작성하는 것은 좋은 습관이며, 가능한 대안이 있는 경우 - 이 경우처럼 - 알려진 경합 조건을 코드베이스에 내장하지 않는 것이 더 좋습니다.</p>

		</main>
		<footer>
			<div class="wrapper">
				<div>
					&lsaquo; <a href="11.02-creating-a-users-model.html">Previous</a>
				</div>
				<div>
					<a href="00.01-contents.html">Contents</a>
				</div>
				<div>
					<a href="11.04-user-login.html">Next</a> &rsaquo;
				</div>
			</div>
		</footer>
		<script>
			document.onkeydown = function(evt) {
				evt = evt || window.event;
				switch (evt.keyCode) {
					
					case 37:
						window.location.href = "11.02-creating-a-users-model.html";
						break;
						
					
					case 39:
						window.location.href = "11.04-user-login.html";
						break;
						
				}
			};
		</script>
	</body>
</html>

